.apropos {
    padding: 0 50px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    
}


.contentCollapse {
    display: flex;
    width: 86%;
    margin: auto;
    flex-direction: column;
    margin-bottom: 125px;
    margin-top: 125px;
}

@media (max-width: 850px) {
    .apropos {
        padding: 10px 35px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .contentCollapse {
        padding: 0 0;
        width: auto;
        margin-bottom: 15%;
        margin-top: 15%;
    }

    .details {
        margin: -18px;
    }
}

@media (max-width: 500px) {
    .apropos {
        padding: 10px 35px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .contentCollapse {
        padding: 0 0;
        width: auto;
        margin-bottom: 25%;
        margin-top: 25%;
    }

    
}

