

.pagedescription {
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

}

.card p {
left: 0;

}

.flat {
display: flex;
flex-direction: column;

}

.desc, .equip {
    width: 45%;
}

.title {
    font-size: 36px;
    font-weight: 500;
    margin-top: 20px;
    color: #FF6060;
    
}

.location {
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    margin-top: 45px;
    color: #FF6060;
    
}

Link{

        text-decoration:none;

}



.card2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

@media (max-width: 820px) {
    .card1 .title {
        font-size: 18px;
    }

    .card1 {
        margin-top: -20px;
        
    }
    .card2 {
        /* display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center; */
        align-items: flex-start;
    }

    .descEquip {
        flex-direction: column;
    }
    .desc, .equip {
        width: 100%;
    }
}