.header {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    border-radius: 25px;
    height: 223px;
    margin-bottom: 50px;
}

.welcomeImage {
    position: relative;
    color: #FFFFFF;
    margin: 50px 0;
    padding: 40px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    top: 40px;
}

@media (max-width: 820px) {
    .welcomeImage {
        top: 25px;
        font-size: 25px;
        line-height: 24px;
        width: 248px;
        height: 48px;
    }

    .header {
        
        border-radius: 10px;
        margin-bottom: 5%;
        height: 200px;
        
    }
}