.rate {
    display: flex;
    align-items: center;
  }
  
  .rate img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  @media (max-width: 820px) {
    .rate img {
      width: 13%;
      height: 13%;
      margin-right: 5px;
    }
  
  }
